<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Details</title>
  </head>
  <body>
    <h1>The Details of the doctor <%= doctor.D_Name %> is </h1>
    <ul>
      <li>Gender :<%= doctor.Gender %></li>
      <li>Speciality :<%= doctor.Speciality %></li>
      <li>Phone_No :<%= doctor.Phone_No %></li>
      <li>Address :<%= doctor.Address %></li>
    </ul>
    <a href="/doctors">Go back to doctors</a>
  </body>
</html>
